.hima{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
    gap: 10px;
}
.username{
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}