.TrendCard{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0px;
    width: 90%;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    padding-left: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
}