.hi:hover{
    cursor: pointer;
}
.navIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
}